/* GLOBAL RESETS */
* { box-sizing: border-box; }

// VARIABLES 
$color-text-body: rgba(0,0,0,.8);
$color-text-headings: rgba(0,0,0,1);
$color-accent: rgb(255, 160, 71);
$color-link: rgb(7, 165, 139);
$color-link-darker: rgb(16, 90, 74);
$color-accent-light: rgb(243, 122, 182);

$color-lightgrey: rgba(0,0,0,.5);

$font-family-sans: 'acumin-pro', Helvetica, Arial, sans-serif; 
$font-family-serif: 'kepler-std-display', Georgia, 'Times New Roman', Times, serif;
 
// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORTS
@import "partials/tox"; 
@import "partials/typography"; 
@import "partials/helpers"; 
@import "partials/buttons"; 
@import "partials/media";     
@import "partials/layout";    
@import "partials/grid";     
@import "partials/structure";  
@import "partials/sitenav";     
@import "partials/animations";